body {
  font-size: 16px;
  font-family: sans-serif;
  color: #222;
}

#container {
  width: 960px;
  margin: 0 auto;
}

img {
  border: 0px solid #ccc;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

img:nth-child(3n+3) {
  margin-right: 0;
}

nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

nav li{
  display: inline-block;
  margin-right: 20px;
  padding-top:20px;
  padding-bottom: 50px;
}
