@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
  font-size: 16px;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #222;
}

#container {
  width: 1200px;
  margin: 0px;
  position: absolute;
}

img {
  border: 0px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
  float: center;
}

img:nth-child(3n+3) {
  margin-right: 0;
}


nav ul{
  margin-bottom: 10px;
  margin-right: 0px;
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

nav li{
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 30px;
  padding-top:20px;
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 30px;
  top: 50px;
}

#about-me-paragraph{
  position: absolute;
  bottom: 0;
  right: 70px;
  width: 400px;
  height: 600px;
  line-height: 35px;
}

#about-me-pic{
  position: absolute;
  top: 20px;
  left: 0px;
}

article {
  position: relative;
  /*border: .5px solid #222;*/
  min-height: 600px;
}

a{
  text-decoration: none;
  color: rgb(	0,0,0);
}

/*a:hover{
  text-decoration: none;
}*/

a:active{
  color: rgb(	128,0,128);
}
