@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
  font-family: "Open Sans", Arial;
  font-size: 16px;
  margin:10px;
}

a{
  text-decoration: none;
  color: rgb(	128,128,128);
}

a:hover{
  text-decoration: none;
}

a:active{
  color: rgb(	128,0,128);
}



#container{
  width: 960px;
  margin: 0 auto;
}

h1{
  font-size: 40px;
  color: rgb(32,178,170);
  margin: 0;
}

h2{
  color: rgb(128,128,128);
  font-family: 'Julius Sans One', sans-serif;
}

header {
  font-family: 'Comfortaa', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

img {
  position:absolute;
  border-radius: 100px;
  top: 0px;
  right: 10px;
}

nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

nav li{
  display: inline-block;
  margin-right: 20px;
  padding-bottom:20px;
  padding-top:20px;
}

h1,p{
  margin: 0;
}

section{

  background-color: rgb(245,255,250);
  border-top: 3px solid rgb(32,178,170);
  padding-bottom: 20px;
}


#career-objective{
  margin-top: 80px;
}
